<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<title>Pathology lab Report Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

</head>
<body>
<section id="banner">
    <div class="banner-text">
        <h1>Medical Technologist</h1>
        <p>Behind every Doctor who is keeping you alive</p>
    </div>
</section>
<div id="sideNav">
    <nav>
        <ul>
            <li><a href="#banner">HOME</a></li>
            <li><a href="#feature">FEATURES</a></li>
            <li><a href="#Service">SERVICES</a></li>
            <li><a href="#testimonial">FEEDBACK</a></li>
            <li><a href="#footer"></a>MEET US</li>

        </ul>
    </nav>
</div>
<div id="manuBtn">
    <img src="{% static 'img/menu.jpg' %}" id="menu">
</div>

 <!--Features-->
<section id="feature">
<div class="title-text">
    <p>FEATURES</p>
    <h1>Why Choose Us</h1>
</div>
<div class="feature-box">
    <div class="features">
        <h1>Experienced Scientific Officers</h1>
            <div class="feature-icon">
                <i class="fa fa-shield"></i>
            </div>
        <h1>Pre Booking Online</h1>
            <div class="feature-icon">
                <i class="fa fa-check-square-o"></i>
            </div>
        <h1>Online Access to Reports</h1>
            <div class="feature-icon">
                <i class="fa fa-pencil-square-o"></i>
            </div>
        <h1>Advanced Labs</h1>
            <div class="feature-icon">
                <i class="fa fa-flask"></i>
            </div>
        <h1>Affordable Cost</h1>
            <div class="feature-icon">
                <i class="fa fa-inr"></i>
            </div>
        <h1>Proficiency Testing for Accurate Reports</h1>
            <div class="feature-icon">
                <i class="fa fa-heartbeat"></i>
            </div>
    </div>
    <div class="features-img">
        <img src="{% static 'img\why Choose us.jpg' %}">
    </div>

</div>
</section>

<!--Service-->
<section id="Service">
    <div class="title-text">
        <p>SERVICES</p>
        <h1>We Provide Better</h1>
    </div>
    <div class="Service-box">
        <div class="Single service">
            <img src="{% static 'img\services-pic3.jpg'%}">
            <div class="overlay"></div>
            <div class="Service-desc">
                <h3>Free Home Collection</h3>
            </div>
        </div>
        <div class="Single service">
            <img src="{% static 'img\services-pic2.jpg'%}">
            <div class="overlay"></div>
            <div class="Service-desc">
                <h3>Used Advanced Lab Instruments</h3>
            </div>
        </div>
        <div class="Single service">
            <img src="{% static 'img\services-pic1.jpg'%}">
            <div class="overlay"></div>
            <div class="Service-desc">
                <h3>Accurate Reports on TIME</h3>
            </div>
        </div>
        <div class="Single service">
            <img src="{% static 'img\services-pic4.jpg'%}">
            <div class="overlay"></div>
            <div class="Service-desc">
                <h3>Book Tests Online</h3>
            </div>
        </div>
    </div>
</section>

<!--Testimonial-->
<section id="testimonial">
    <div class="title-text">
        <p>TESTIMONIAL</p>
        <h1>What Client Says</h1>
    </div>
    <div class="testimonial-row">
        <div class="testimonial-col">
            <div class="user">
                <img src="{% static 'img/'%}">
                <div class="user-info">
                    <h4>KEN NORMAN <i class="fa fa-twitter"></i></h4>
                    <small>@kenroman</small>
                </div>
            </div>
            <p>Last 3 months ago I have booked my body checkup and I have not face any issue they are excellent in there job & doing very well.
                Well deciplined and trained staff.
                As per my schedule they done my test and sent all my reports on time.</p>
        </div>
        <div class="testimonial-col">
            <div class="user">
                <img src="{% static 'img/'%}">
                <div class="user-info">
                    <h4>Liara Karian <i class="fa fa-twitter"></i></h4>
                    <small>@liarakarian</small>
                </div>
            </div>
            <p> Affordable prices in comparison to the other labs.Lab equipped with modern and internationally recognized equipments.
                Provides an ample of services under one roof.
                Provides free home collection/portable services within 3km radius within their clinic.</p>
        </div>
        <div class="testimonial-col">
            <div class="user">
                <img src="{% static 'img/'%}">
                <div class="user-info">
                    <h4>Ricky Danial <i class="fa fa-twitter"></i></h4>
                    <small>@rickydanial</small>
                </div>
            </div>
            <p>we dont have to visit the labs infact the collection man visit on pre scheduled date and time.
                Also, all the samples are taken care-off provided with true and correct reports.</p>
    </div>
</div>

</section>

<!--footer-->
<section id="footer">
    <div class="title-text">
        <p>CONTACT</p>
        <h1>Online only</h1>
    </div>
<div class="footer-row">
    <div class="footer-left">
        <h1>Customer Care Number</h1>
        <p>91150-91150</p>
    </div>
    <div class="footer-right">
        <h1>Registered Office</h1>
        <p>GP - 26, Maruti Industrial Estate, Udyog Vihar, Sector - 18, Gurugram - 122015</p>
    </div>
</div>
<div class="social-links">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-youtube-play"></i>
    <p>Copyright sagarikaChowdhury 2021(🤣🤣🤨😒😒🙌)</p>
</div>
</section>

<script>
var menuBtn = document.getElementById("menuBtn")
var sideNav = document.getElementById("sideNav")
var menu = document.getElementById("menu")

sideNav.style.right = "-250px";

menuBtn.onclick = function(){
    if(sideNav.style.right=="-250px"){
        sideNav.style.right= "0";
        menu.src = "{% static 'img/close.png' %}";
    }
    else{
        sideNav.style.right = "-250px";
        menu.src = "{% static 'img/menu.jpg'%}";
    }
}

var scroll = new SmoothScroll('a[href*="#"]', {
	speed: 1000,
	speedAsDuration: true
});

</script>
</body>
</html>
