<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<script>
        smoothScroll.init();
    
    
        function validateForm() {
        var email = document.getElementById('email');
        var password = document.getElementById('password');
        if ( email.value == "" || password.value == "") {
            alert('Please fill in all the fields.');
            return false;
        }
        }
	</script>
	<title>Pathology lab Report Website</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<body>
	<div class="container">
	<img src="{% static 'img\bgimage.jpeg' %}" class="img-fluid">
	<div class="row-loginbox">
		<div class="col-sm-7">
		<h1>Login Here</h1>
			<form method="post" action="logcode" onsubmit="return validateForm()">
			{% csrf_token %}
				<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="pwd" class="form-control" id="password" placeholder="Password">
				</div>
				<br>
				<button type="submit" class="btn btn-primary">Login</button>
		  </form>
		<a href="{% url 'register_user' %}">Create New Account</a>
		</div>
	</div>
	</div>
</body>
</head>
</html>