<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>

<div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <div class="form">
       <div class="inputfield">
          <label>First Name</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Last Name</label>
          <input type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Password</label>
          <input type="password" class="input">
       </div>  
      <div class="inputfield">
          <label>Confirm Password</label>
          <input type="password" class="input">
       </div> 
        <div class="inputfield">
          <label>Gender</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="inputfield">
            <label>Age</label>
            <input type="text" class="input">
         </div>
         <div class="inputfield">
            <label>Blood Group</label>
            <div class="custom_select">
              <select>
                <option value="">Select</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="O+">O+</option>
              </select>
            </div> 
        <div class="inputfield">
          <label>Email Address</label>
          <input type="text" class="input">
       </div> 
      <div class="inputfield">
          <label>Phone Number</label>
          <input type="text" class="input">
       </div> 
      <div class="inputfield">
          <label>Address</label>
          <textarea class="textarea"></textarea>
       </div>
       <div class="inputfield">
        <label>Test list</label>
        <div class="custom_select">
          <select>
            <option value="">Select</option>
            <option value="AIDS">AIDS</option>
            <option value="ALLERGY">ALLERGY</option>
            <option value="ANEMIA">ANEMIA</option>
            <option value="ARTHIRTIS">ARTHIRTIS</option>
            <option value="CANCER">CANCER</option>
            <option value="DENGUE">DENGUE</option>
            <option value="DIABETES">DIABETES</option>
            <option value="FEVER">FEVER</option>
            <option value="INFECTIONS">INFECTIONS</option>
            <option value="INFERTILITY">INFERTILITY</option>
            <option value="KIDNEY STONE">KIDNEY STONE</option>
            <option value="LEPROSY">LEPROSY</option>
            <option value="LEUKEMIA">LEUKEMIA</option>
            <option value="PREGNANCY">PREGNANCY</option>
            <option value="THYROID">THYROID</option>
            <option value="TUMOUR">TUMOUR</option>
            <option value="VITAMIN DEFICIENCY">VITAMIN DEFICIENCY</option>
          </select>
        </div>
      <div class="inputfield terms">
          <label class="check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <p>Agreed to terms and conditions</p>
       </div> 
      <div class="inputfield">
        <input type="submit" value="Register" class="btn">
      </div>
    </div>
</div>	
	
</body>
</html>